<h1>Users profiles </h1>

{{#if recent}}
<h2>Recent Users Profiles:</h2>
<ul>
    {{#each recent}}
    <li><a href="{{ username }}">{{ username }}</a></li>
    {{ /each }}
</ul>
{{ /if }}

<p><a href="/auth/login">Login</a> to update your profile</p>
<p><a href="/auth/register"><Register an account/a></p>